html, body {
    background: grey;
    height: 100%;
}

.body {
    background: white;
    height: 100%;
}

#imgDiv {
    padding: 10px 0 10px 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar {
    border-style: solid;
    border-color: black;
    border-width: 1px 0 1px 0;
    padding: 10px 0 10px 0;
}

.links {
    width: 25%;
    margin: 0;
    text-align: center;
}

#welcomeText {
    text-align: center;
    margin-top: 10px;
    font-family: 'Merriweather', serif;
}

@media screen and (max-width: 414px) {

    .h5, h5 {
        font-size: 1rem;
    }
    
}