html, body {
    background: grey;
    height: 100%;
}

.body {
    background: white;
    height: 100%;
}

.imageBox {
    width: 33%;
}

.nav-bar {
    border-style: solid;
    border-color: black;
}

.links {
    width: 25%;
    margin: 0;
    text-align: center;
}