html, body {
    background: grey;
    height: 100%;
}

.body {
    background: white;
    height: 100%;
}

#logo {
    margin: 20px 0 20px 0;
}

.imageBox {
    width: 33%;
}

.nav-bar {
    border-style: solid;
    border-color: black;
    border-width: 1px 0 1px 0;
    padding: 5px 0 5px 0;
}

.links {
    width: 25%;
    margin: 0;
    text-align: center;
}

#welcomeText {
    text-align: center;
    margin-top: 10px;
    font-family: 'Merriweather', serif;
}